body {
            background-color: #0d1b2a;
            color: #f8f9fa;
        }

        .navbar,
        .hero {
            background-color: #0d1b2a;
        }

        .hero {
            padding: 60px 0 20px 0;
            text-align: center;
        }

        .hero h1 {
            font-size: 3rem;
            color: #e0e1dd;
        }

        .hero p {
            font-size: 1.25rem;
            color: #a9bcd0;
        }

        .section-title {
            margin-top: 60px;
            margin-bottom: 30px;
            color: #e0e1dd;
        }

        .card {
            background-color: #1b263b;
            border: 1px solid #2e3b55;
            margin-bottom: 15px;
        }

        .container-fluid {
            max-width: 1400px;
            margin: auto;
        }

        #modelChart {
            max-width: 100%;
            height: 600px;
            margin-top: 30px;
        }

        .filter-box {
            border: 1px solid #2e3b55;
            border-radius: 10px;
            background-color: #121f30;
            padding: 0.75rem 1rem 1.25rem 1rem;
            margin-bottom: 0.75rem !important;
        }

        .col-md-3 {
            max-width: 260px;
        }

        .filter-box h5 {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        .filter-inner {
            margin-top: -0.4rem;
        }

        .btn-hf {
            background-color: #f4e28d;  /* soft desaturated yellow */
            border: none;
            padding: 0.25rem 0.5rem;
          }
          
          .btn-hf:hover {
            background-color: #e6d675;
          }
          
          .group-toggle {
            border: 1px solid white;
            font-size: 0.65rem;
            padding: 0.15rem 0.4rem;
            line-height: 1.1;
          }
          
          .btn-group-subfilter .btn {
            font-size: 0.7rem;
            padding: 0.1rem 0.4rem;
            line-height: 1.1;
          }
          